/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/* Common Style  */

body{
    font-family: 'Poppins', sans-serif;
}
header, main{
    margin: 90px 120px;
}
h1{
    font-size: 52px;
    margin: 20px 0 26px;
    line-height: 1.5em;
}
h3{
    font-size: 28px;
}

/* header section  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon .fas{
    margin-left: 30px;
}
.header{
    display: flex;
}

/* influencer section  */

.influencer {
    width: 50%;;
}
.preebook-botton{
    display: inline-block;
    margin-top: 26px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    background-color: #E02C6D;
    padding: 10px 25px;
    border-radius: 41px;
}
.fa-arrow-right{
    margin-left: 10px;
}
.influencer img{
    width: 80%;
    margin-left: 133px;
}

/* partnership logos */

.pertnership-logos{
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    grid-gap: 30px;
}

/* collections */
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.section-heading{
    display: flex;
    justify-content: center;    
}
.collection-item{    
    box-shadow: 0 0 15px rgb(211, 210, 210);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}
.collection-image{
    width: 300px;
    height: 256px;
}
.collection-image img{
    width: 100%;
}
.item-heading{
    margin: 16px 0 6px;
}
.price{
    font-size: 24px;
    font-weight: 500;
    margin: 3px 0;
}
.rating{
    display: flex;
    align-items: center;
    height: 35px;
}
.fa-star{
    color: #FB8200;
}
.rating-point{
    margin-left: 8px;
}

.item-description{
    color: #787885;
    margin: 5px 0;
}

.seeMore-button{
    color: #E02C6D ;
    position: relative;
    float: right;
    margin: 50px 0;
    text-decoration: none;
}

/* Subcription */
.subcription{
    margin: 100px 0;  
    padding-left: 100px;
}
.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.subcribe-form{
    display: flex;    
}
.subcribe-form input, button{
    border: 1px solid rgb(224, 224, 224);
    margin: 10px;
    padding: 10px;
}
.subcribe-form button{
    border: none;
    color: #ffffff;
    background-color: #E02C6D;
}

/* footer  */

footer{
    margin-top: 100px;
    background-color: #0A0826;
    color: #ffffff;
    
}
.footer-container{
    padding: 50px 50px; 
    
}

.footer{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p{
    font-size: 14px;
    margin: 15px 0 0;
}
.footer h3{
    margin: 0;
}
.social-icons{
    margin: 20px 0 0;
}

.social-icons .fab{
    border-radius: 50px;
    padding: 8px;
    font-size: 1.5em;
}

